<a href="https://colab.research.google.com/github/joungminhee/algorithm_study/blob/master/%08algorithm_1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Do-it (1)

In [ ]:
# 세 정수를 입력받아 최댓값 구하기

print('세 정수의 최댓값을 구합니다')
a= int(input('정수 a의 값을 입력하세요.: '))
b= int(input('정수 b의 값을 입력하세요.: '))
c= int(input('정수 c의 값을 입력하세요.: '))

maximum = a
if b > maximum: maximum = b
if c > maximum: maximum = c

print(f'최댓값은 {maximum}입니다')

세 정수의 최댓값을 구합니다
정수 a의 값을 입력하세요.: 1
정수 b의 값을 입력하세요.: 3
정수 c의 값을 입력하세요.: 2
최댓값은 3입니다

In [ ]:
# 이름을 입력받아 인사하기

name=input('이름을 입력하세요.:')
print(f'안녕하세요?{name}님.')

이름을 입력하세요.:정민희
안녕하세요?정민희님.

In [ ]:
# 세 정수를 입력받아 중앙값 구하기

def med3(a,b,c):
    if a >= b:
        if b>= c:
            return b
        elif a <=c:
            return a
        else:
            return c
    elif a > c:
        return a
    elif b > c:
        return c
    else:
        return b

print('세 정수의 중앙값을 구합니다.')
a = int(input('정수 a의 값은?:'))
b = int(input('정수 b의 값은?:'))
c = int(input('정수 c의 값은?:'))

print(f'중앙값은 {med3(a,b,c)}입니다')

세 정수의 중앙값을 구합니다.

In [ ]:
# 입력받은 정수의 부호(양수,음수,0) 출력하기

n= int(input('정수를 입력하세요.: '))

if n >0:
    print('이 수는 양수입니다')
elif n < 0:
    print('이 수는 음수입니다')
else :
    print('이 수는 0입니다')

정수를 입력하세요.: -2
이 수는 음수입니다

In [ ]:
#3개로 분기하는 조건문
# 분기: 프로그램의 실행 흐름을 다른 곳으로 변경하는 명령

n= int(input('정수를 입력하세요.: '))

if n == 1:
    print('A')
elif n==2:
    print('B')
else:
    print('C')

정수를 입력하세요.: 4
C

In [ ]:
#4개로 분기하는 조건문

n = int(input('정수를 입력하세요.: '))

if n ==1:
    print('A')
elif n==2:
    print('B')
elif n==3:
    print('C')
else :
    pass
# pass : 아무것도 수행하지 말고 그냥 지나치세요

정수를 입력하세요.: 4

In [ ]:
# 1부터 n까지 정수의 합 구하기1(while문)

print('1부터 n까지 정수의 합을 구합니다.')
n = int(input('n값을 입력하세요.:'))

sum = 0
i = 1

while i <=n:
    sum +=i
    i+=1

print(f'1부터 {n}까지 정수의 합은 {sum}입니다')
print(f'i값은 {i}입니다')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.:1
1부터 1까지 정수의 합은 1입니다
i값은 2입니다

In [ ]:
# 변수가 하나만 있을 때는 while 문보다 for문을 사용하는것이 더 좋다.

#1부터 n까지 정수의 합 구하기2(for문)

print('1부터 n까지 정수의 합을 구합니다.')
n= int(input('n값을 입력하세요.: '))

sum = 0 
for i in range(1, n+1):
    sum += i

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.: -5
1부터 -5까지 정수의 합은 0입니다.

In [ ]:
# a부터 b까지 정수의 합 구하기

print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요.:'))
b = int(input('정수 b를 입력하세요.:'))

if a>b:
    a,b = b,a

sum = 0
for i in range(a, b+1):
    if i < b:
        print(f'{i} + ', end='')
    else:
        print(f'{i} = ', end='')
    sum += i

print(sum)

In [ ]:
# +와 -를 번갈아 출력하기 

print('+와 -를 번갈아 출력합니다.')
n= int(input('몇 개를 출력할까요?: '))

for i in range(n):
    if i % 2:
        print('-', end='')
    else:
        print('+', end='')
print()
# end옵션을 사용하면 그 뒤의 출력값과 이어서 출력한다. (즉, 줄바꿈을 하지 않게 된다.)

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?: 3
+-+

In [ ]:
# +와 -를 번갈아 출력하기 

print('+와 -를 번갈아 출력합니다.')
n= int(input('몇 개를 출력할까요?: '))

for _ in range(n //2 ):
        print('+-', end='')
# 3 // 2 로 하면 몫이 1번 출력 = '+-'
# 4 // 2 로 하면 몫이 2번 출력 = '+-+-'
if n % 2:
        print('+', end='')
print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?: 3
+-+

In [ ]:
# +를 n개 출력하되 w개마다 줄바꿈하기

print('*를 출력합니다.')
n= int(input('몇 개를 출력할까요?:'))
w = int(input('몇 개마다 줄바꿈할까요?:'))

# for i in range(n):
#     print('*', end='')
#     if i % w == w-1:
#         print()

for _ in range(n//w):
    print('*'* w)

rest = n % w
if rest:
    print('*'* rest)

*를 출력합니다.
몇 개를 출력할까요?:14
몇 개마다 줄바꿈할까요?:5
*****
*****
****

In [ ]:
# *를 n개 출력하되 w개마다 줄바꿈하기

print('*를 출력합니다.')
n= int(input('몇 개를 출력할까요?:'))
w = int(input('몇 개마다 줄바꿈할까요?:'))

for _ in range(n):
    print()

In [ ]:
# 1부터 n까지 정수의 합 구하기(n값은 양수만 입력받음)

print('1부터 n까지 정수의 합을 구합니다.')

while True:
    n= int(input('n값을 입력하세요.: '))
    if n>0:
        break

sum = 0 
for i in range(1, n+1):
    sum += i

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.: -6
n값을 입력하세요.: 3
1부터 3까지 정수의 합은 6입니다.

In [ ]:
# 가로,세로 길이가 정수이고 넓이가 area인 직사각형에서 변의 길이 나열하기

area = int(input('직사각형의 넓이를 입력하세요.:'))
for i in range(1, area+1):
    if i * i > area: break
    if area % i : continue
    print(f'{i} x {area // i}')

직사각형의 넓이를 입력하세요.:32
1 x 32
2 x 16
4 x 8

In [ ]:
# 10~99 사이의 난수 n개 생성하기(13이 나오면 중단)

import random

n= int(input('난수의 개수를 입력하세요:'))

for _ in range(n):
    r = random.randint(10,99)
    print(r, end='')
    if r == 13:
        print('\프로그램을 중단합니다')
        break
else:
    print('\n난수 생성을 종료합니다')

난수의 개수를 입력하세요:4
59306462
난수 생성을 종료합니다

In [ ]:
# 1~12까지 8을 건너뛰고 출력하기

for i in range(1,13):
    if i == 8:
        continue
    print(i, end='')

print()

12345679101112

In [ ]:
# 1~12까지 8을 건너뛰고 출력하기(건너뛰는 값을 아는경우)

for i in list(range(1,8)) + list(range(9,13)):
    print(i, end='')
print()

12345679101112

In [8]:
# 구구단 곱셉표 출력하기

print('-'*27)
for i in range(1,10):
    for j in range(1,10):
        print(f'{i * j:3}', end='')
    print()
print('-'*27)
# j:3 은 가지런히 줄맞추는 용도(띄어쓰기한듯)

---------------------------
  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81
---------------------------

In [9]:
# 왼쪽 아래가 직각인 이등변 삼각형으로 *출력하기

print('왼쪽 아래가 직각인 이등변 삼각형을 출력합니다')
n= int(input('짧은 변의 길이를 입력하세요.:'))

for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print()

왼쪽 아래가 직각인 이등변 삼각형을 출력합니다
짧은 변의 길이를 입력하세요.:5
*
**
***
****
*****

In [12]:
# 오른쪽 아래가 직각인 이등변 삼각형으로 *출력하기

print('왼쪽 아래가 직각인 이등변 삼각형을 출력합니다')
n= int(input('짧은 변의 길이를 입력하세요.:'))

for i in range(n):
    for _ in range(n-i-1):
        print(' ', end='')
    for j in range(i+1):
        print('*', end='')
    print()

왼쪽 아래가 직각인 이등변 삼각형을 출력합니다
짧은 변의 길이를 입력하세요.:5
    *
   **
  ***
 ****
*****

In [15]:
# 함수 내부/외부에서 정의한 변수와 객체의 식별 번호를 출력하기

n=1
def put_id():
    x =1
    print(f'id(x) = {id(x)}')

print(f'id(1) = {id(1)}')
print(f'id(n) = {id(n)}')
put_id()

id(1) = 11256064
id(n) = 11256064
id(x) = 11256064