<a href="https://colab.research.google.com/github/joungminhee/Algorithm_study/blob/master/algorithm_2%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기본 자료구조와 배열

In [1]:
# 리스트는 쉼표가 맨 마지막 원소 뒤에 쓸 수 있다.
list = [1,2,3,]

In [2]:
# 튜플도 쉼표가 맨 마지막 원소 뒤에 올 수 있으며,
# 결합 연산자()를 생략할 수 있다.
tuple=1,2,3,

In [3]:
n=12
id(n)
n=13
id(n)

11256448

In [4]:
a = "Pithon"
a[1]

'i'

In [5]:
a[1] = 'y'

TypeError: ignored

In [6]:
n = 12
n[0] = 2

TypeError: ignored

* 1) a 변수에 "Pithon" 문자열을 대입하고 a[1]의 값이 i니까 a[1]을 y로 바꾸어 준다 -> 값을 변경할 수 없다.
* 2) 정수를 나타내는 int형도 값을 변경할 수 없다.
* 왜냐하면 문자열의 요솟값과 정수값은 바꿀 수 있는 값이 아니기 때문이다 (그래서 immutable한 자료형이라고도 부른다).

* tuple의 좌변에는 인덱스식과 슬라이스식이 올 수 없다.

In [7]:
# 시퀀스 원소의 최댓값 출력하기

from typing import Any,Sequence

def max_of(a: Sequence) -> Any:
# 매개변수 a의 자료형은 Sequence, 반환하는 것은 임의의 자료인 Any형
    maximum = a[0]
    for i in range(1, len(a)):
        if a[i] > maximum:
            maximum = a[i]
    return maximum
    # def 함수정의할때 return

if __name__ == '__main__':
    print('배열의 최댓값을 구합니다.')
    num = int(input('원소 수를 입력하세요.:'))
    x = [None]* num

    for i in range(num):
        x[i] = int(input(f'x[{i}]값을 입력하세요.:'))

    print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
원소 수를 입력하세요.:5
x[0]값을 입력하세요.:4
x[1]값을 입력하세요.:3
x[2]값을 입력하세요.:2
x[3]값을 입력하세요.:1
x[4]값을 입력하세요.:4
최댓값은 4입니다.

In [10]:
# 배열 원소의 최댓값을 구해서 출력하기(원솟값을 입력받음)

# from max import max_of

print('배열의 최댓값을 구합니다.')
print('주의: "End"를 입력하면 종료합니다.')

number = 0
x = []

while True:
    s = (input(f'x[{number}]값을 입력하세요.:'))
    if s == 'End':
        break
    x.append(int(s))
    number += 1

print(f'{number}개를 입력했습니다.')
print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
주의: "end"를 입력하면 종료합니다.
x[0]값을 입력하세요.:4
x[1]값을 입력하세요.:3
x[2]값을 입력하세요.:1
x[3]값을 입력하세요.:End
3개를 입력했습니다.
최댓값은 4입니다.

In [12]:
# 배열 원소의 최댓값을 구해서 출력하기(원솟값을 난수로 생성)

import random

print('난수의 최댓값을 구합니다.')
num = int(input('난수의 개수를 입력하세요.:'))
lo= int(input('난수의 최솟값을 입력하세요.:'))
hi= int(input('난수의 최댓값을 입력하세요.:'))

x= [None]* num

for i in range(num):
    x[i] = random.randint(lo,hi)

print(f'{x}')
print(f'이 가운데 최댓값은 {max_of(x)}입니다.')

난수의 최댓값을 구합니다.
난수의 개수를 입력하세요.:5
난수의 최솟값을 입력하세요.:10
난수의 최댓값을 입력하세요.:99
[81, 37, 82, 27, 88]
이 가운데 최댓값은 88입니다.

In [13]:
# 각 배열 원소의 최댓값을 구해서 출력하기(튜플,문자열,문자열리스트)

t = (4,7,5.6,2,3.14,1)
s = 'string'
a = ['DTS','AAC','FLAC']

print(f'{t}의 최댓값은 {max_of(t)}입니다.')
print(f'{s}의 최댓값은 {max_of(s)}입니다.')
print(f'{a}의 최댓값은 {max_of(a)}입니다.')

(4, 7, 5.6, 2, 3.14, 1)의 최댓값은 7입니다.
string의 최댓값은 t입니다.
['DTS', 'AAC', 'FLAC']의 최댓값은 FLAC입니다.

In [14]:
# 리스트의 모든 원소를 enumerate()함수로 스캔하기(1부터 카운트)

x = ['John','Georage','Paul','Ringo']

for i, name in enumerate(x,1):
    print(f'{i} 번째 = {name}')

1 번째 = John
2 번째 = Georage
3 번째 = Paul
4 번째 = Ringo

## 뮤터블(mutable)
- 변경이 가능한 객체

- 생성 후 자유롭게 값을 변경, 추가, 삭제 등이 가능하다.

- list, set, dictionary 등

- 변수의 값을 변경하면 객체 자체를 업데이트 한다. (값 변경 -> 할당된 메모리에 전달)

- call by reference(참조에 의한 호출)

 

이뮤터블(immutable)
- 변경이 불가능한 객체

- 생성 후 값 변경, 추가, 삭제 등이 불가능하다.

- 숫자, string, tuple 등

- 변수의 값을 변경하면 다른 객체를 생성하고 그 객체에 대한 참조로 업데이트 된다.

  (값 변경 -> 새로운 메모리에 전달)

- call by value(값에 의한 호출)

In [16]:
# 뮤터블 시퀀스 원소를 역순으로 정렬
from typing import Any, MutableSequence

def reverse_array(a:MutableSequence) -> None:
    n= len(a)
    for i in range( n //2):
        a[i], a[n-i-1] =a[n-i-1], a[i]

if __name__ == '__main__':
    print('배열 원소를 역순으로 정렬합니다.')
    num = int(input('원소 수를 입력하세요.:'))
    x = [None]*num

    for i in range(num):
        x[i] = int(input(f'x[{i}]값을 입력하세요.:'))

    reverse_array(x)
    print('배열 원소를 역순으로 정렬했습니다.')
    for i in range(num):
        print(f'x[{i}]= {x[i]}')

배열 원소를 역순으로 정렬합니다.
원소 수를 입력하세요.:7
x[0]값을 입력하세요.:2
x[1]값을 입력하세요.:5
x[2]값을 입력하세요.:1
x[3]값을 입력하세요.:3
x[4]값을 입력하세요.:9
x[5]값을 입력하세요.:6
x[6]값을 입력하세요.:7
배열 원소를 역순으로 정렬했습니다.
x[0]= 7
x[1]= 6
x[2]= 9
x[3]= 3
x[4]= 1
x[5]= 5
x[6]= 2

In [18]:
# 10진수 정숫값을 입력받아 2~36진수로 변환하여 출력하기

def card_conv(x:int, r:int) -> str:
    d= ''
    dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'

    while x> 0:
        d += dchar[x % r]
        x //= r

    return d[::-1]

In [22]:
# 10진수를 n진수로 변환합니다

if __name__ == '__main__':
    print('10진수를 n진수로 변환합니다.')

    while True:
        while True:
            no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요.'))
            if no > 0 :
                break

        while True:
            cd = int(input('어떤 진수로 변환할까요?:'))
            if 2 <= cd <= 36:
                break

        print(f'{cd}진수로는 {card_conv(no,cd)}입니다.')

        retry = input('한번 더 변환할까요? (y=yes, n=no)')
        if retry in {'n','no'}:
            break

10진수를 n진수로 변환합니다.
변환할 값으로 음이 아닌 정수를 입력하세요.-2
변환할 값으로 음이 아닌 정수를 입력하세요.4
어떤 진수로 변환할까요?:10
10진수로는 4입니다.
한번 더 변환할까요? (y=yes, n=no)n

In [23]:
# 10진수 정숫값을 입력받아 2~36진수로 변환하여 출력하기

def card_conv(x:int, r:int) -> str:
    d= ''
    dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    n = len(str(x))

    print(f'{r:2} | {x:{n}d}')
    while x> 0:
        print(' +' + (n+2)*'-')

        if x//r:
            print(f'{r:2} | {x//r:{n}d} --{x%r}')
        else:
            print(f'{x//r:{n}d} --{x%r}')
        d += dchar[x % r]
        x //= r

    return d[::-1]

In [24]:
card_conv(29,2)

 2 | 29
 +----
 2 | 14 --1
 +----
 2 |  7 --0
 +----
 2 |  3 --1
 +----
 2 |  1 --1
 +----
 0 --1

'11101'